/* Mobile View - Default */
:root {
  --primarycolor: lightblue;
  --secondarycolor: lightseagreen;
  --teriarycolor: lightcyan;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(0, 0%, 0%);
}

.container {
  min-height: 10rem;
  max-width: 75rem;
  margin: auto;
  background-color: rgba(224, 255, 255, 0.761);
  padding: 1rem;
  border-radius: 1.5rem;
}

#pageheader {
  background-color: #000000;
  min-height: auto;
  padding: 1rem;
  color: #758af4;
}
#pageheader .container {
  background-color: none;
  min-height: auto;
  text-align: center;
}

#pageheader nav {
  text-align: center;
}
#pageheader nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#pageheader nav ul li {
  border: 2px solid black;
  padding: 1rem;
  background-color: #4e77fd;
  margin: 2px;
  border-radius: 10px;
}
#pageheader nav ul li:hover {
  background-color: rgb(109, 233, 255);
}

#media {
  background-color: #0673fd;
  /* min-height: 10rem; */
  height: 80vh;
  padding: 1rem;
  background-image: url(Images/hero.png);
  background-size: cover;
  /* aspect-ratio: 16 / 9; */
  background-position: center center;
}

#logo {
  width: 6.25rem;
  height: 6.25rem;
  background-color: none;
  background-image: url(Images/logosmall.png);
  margin: auto;
}

#career {
  background-color: #2ba8f3;
  min-height: 10rem;
  padding: 1rem;
  color: #1ccaf7;
}

#pagecontent {
  background-color: rgb(0, 0, 0);
  min-height: 10rem;
  padding: 1rem;
  color: #0673fd;
  line-height: 1.5;
}

#semester1 {
  background-color: #16fbff;
  min-height: 10rem;
  padding: 1rem;
  color: #1ccaf7;
}

#semester2 {
  background-color: #1ccaf7;
  min-height: 10rem;
  padding: 1rem;
  color: #1ccaf7;
}
#worksamples {
  background-color: #61dfff;
  min-height: 10rem;
  padding: 1rem;
  color: #1ccaf7;
}
#worksamples ul {
  list-style-type: none;
}
#worksamples i {
  color: #2ba3ff;
}
#certificates {
  background-color: #61b3ff;
  min-height: 10rem;
  padding: 1rem;
  color: #1ccaf7;
}
#certificates ul {
  list-style-type: none;
}
#certificates i {
  color: #0fa7ff;
}

#pagefooter {
  background-color: #75daf4;
  min-height: auto;
  padding: 1rem;
  color: #66d6fb;
}
#pagefooter .container {
  text-align: center;
  min-height: auto;
}
#aifooter {
  background-color: rgb(109, 250, 255);
  padding: 1rem;
  min-height: auto;
}
#aifooter .container {
  text-align: center;
  min-height: auto;
}
#subfooter {
  background-color: #90f8fc;
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}
li a {
  color: #1ccaf7;
  text-decoration: none;
}

audio {
  display: block;
  margin: auto;
  background-color: #ccfdff;
  border: 5px solid #ccfdff;
}
li {
  color: #1ccaf7;
}
blockquote {
  background-color: none;
  padding: 1rem;
  width: 85%;
  margin: 0 auto;
  font-size: 1.25rem;
}
blockquote + span {
  padding: 1rem;
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: right;
  font-size: 1.25rem;
}

.stix-two-text-fine {
  font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.playfair-display-sc-regular {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
}
/*  Tablet View */
@media screen and (min-width: 600px) {
  #pageheader nav ul {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 2rem;
  }
  #pageheader nav ul li {
    display: inline-block;
  }
  #pagecontent {
    background-color: rgb(43, 206, 255);
  }
  #career {
    background-color: rgb(109, 182, 255);
  }
  #logo {
    margin: 0;
  }
}
/* Desktop View */
@media screen and (min-width: 1000px) {
  #pagecontent {
    background-color: rgb(127, 172, 255);
  }
  #career {
    background-color: rgb(59, 157, 255);
  }
}
